@import '@/scss/common/colors';

.input-field {
  position: relative;
  transition: all 0.2s;
  width: 100%;
  min-height: 40px;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="search"],
  input[type="password"],
  input[type="time"],
  input[type="number"],
  textarea {
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
    background: whitesmoke;
    transition: all 0.2s;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 0px 10px 0px;
    min-height: 40px;

    &::placeholder {
      opacity: 0;
    }

    &:hover {
      border: 1px solid $primary;
    }

    &:hover+label {
      color: $primary;
    }

    &:focus,
    &:valid {
      border: 1px solid $primary !important;
    }
  }

  textarea {
    height: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="password"],
  input[type="time"],
  input[type="search"],
  input[type="number"],
  input[type="tel"] {

    &:focus+label,
    &:valid+label {
      color: $primary !important;
      font-size: 16px !important;
      z-index: 3 !important;
      background-color: white !important;
      padding: 0 5px !important;
      transform: translateY(-160%) !important;
      z-index: 5 !important;
      left: 5px !important;
    }
  }


  textarea {
    padding: 10px 10px 0px;
    resize: none;

    &:focus+label,
    &:valid+label {
      color: $primary !important;
      font-size: 16px !important;
      z-index: 3 !important;
      background-color: white !important;
      padding: 0px 5px !important;
      transform: translateY(-428%) !important;
      z-index: 5 !important;
      left: 5px !important;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="password"],
  input[type="number"],
  input[type="time"] {
    &+label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      transition: all 0.2s;
      z-index: 2;
      font-style: italic;
      font-size: 14px;
    }
  }

  textarea {
    &+label {
      position: absolute;
      top: 50%;
      transform: translateY(-277%);
      left: 10px;
      transition: all 0.2s;
      z-index: 2;
      font-style: italic;
      font-size: 14px;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // input[type="number"]:focus,
  // input[type="number"]:valid {
  //   border: 1px solid grey !important;
  // }
}